.box_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box_with_text{
    text-align: center;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}

.box_with_text h2{
    display: inline-block;
    width: 200px;
}